@charset "UTF-8";
/* -----------------------------------------------
レスポンシブ　表示/非表示切り替え
----------------------------------------------- */
.on1366,
.on1024,
.on768,
.on480,
.on375 {
  display: none;
}

@media (width <= 1366px) {
  .off1366 {
    display: none;
  }
  .on1366 {
    display: block;
  }
}
@media (width <= 1024px) {
  .off1024 {
    display: none;
  }
  .on1024 {
    display: block;
  }
}
@media (width <= 768px) {
  .off768 {
    display: none;
  }
  .on768 {
    display: block;
  }
}
@media (width <= 480px) {
  .off480 {
    display: none;
  }
  .on480 {
    display: block;
  }
}
/* -----------------------------------------------
フォント太さ
----------------------------------------------- */
.fl {
  font-weight: 300;
}

.fr {
  font-weight: 400;
}

.fm {
  font-weight: 500;
}

.fb {
  font-weight: 700;
}

/* -----------------------------------------------
フォントサイズ
----------------------------------------------- */
.f12 {
  font-size: 0.75rem;
}

.f14 {
  font-size: 0.875rem;
}

.f16 {
  font-size: 1rem;
}

.f18 {
  font-size: 1.125rem;
}

.f20 {
  font-size: 1.25rem;
}

.f24 {
  font-size: 1.5rem;
}

.f28 {
  font-size: 1.75rem;
}

.f32 {
  font-size: 2rem;
}

.f40 {
  font-size: 2.5rem;
}

.f48 {
  font-size: 3rem;
}

.f64 {
  font-size: 4rem;
}

.f80 {
  font-size: 5rem;
}

.f96 {
  font-size: 6rem;
}

/* -----------------------------------------------
フォント高さ
----------------------------------------------- */
.lh1 {
  line-height: 1;
}

.lh1\.25 {
  line-height: 1.25;
}

.lh1\.5 {
  line-height: 1.5;
}

.lh1\.75 {
  line-height: 1.75;
}

.lh2 {
  line-height: 2;
}

/* -----------------------------------------------
フォントファミリー
----------------------------------------------- */
.kiwimaru {
  font-family: Kiwi Maru, serif;
}

.kaisei {
  font-family: Kaisei Opti, serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.materialicon {
  font-family: Material Symbols Outlined;
  font-display: auto !important;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

/* -----------------------------------------------
フォントカラー
----------------------------------------------- */
.fwhite {
  color: white;
}

.fgray {
  color: #666;
}

.fblack {
  color: #000;
}

.forange {
  color: rgb(255, 153, 0);
}

/* -----------------------------------------------
カーソル　hoverしたらハイライト
----------------------------------------------- */
.opa {
  transition: 0.3s;
  cursor: pointer;
}
.opa:hover {
  opacity: 0.7;
}

/* -----------------------------------------------
カーソル　hoverしたら下線
----------------------------------------------- */
.underline_hover {
  position: relative;
}
.underline_hover::before {
  content: "";
  opacity: 0;
  position: absolute;
  bottom: -0.125rem;
  width: 100%;
  left: 50%;
  border-bottom: 1px solid;
  transform: translate(-50%, 0);
  transition: all 0.3s;
}
.underline_hover:hover::before {
  opacity: 1;
}

/* -----------------------------------------------
カーソル　hoverしたら画像ズーム
----------------------------------------------- */
.zoom_hover_inner {
  overflow: hidden;
}
.zoom_hover_inner img {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.zoom_hover:hover .zoom_hover_inner img {
  transform: scale(1.2);
}

/* -----------------------------------------------
その他
----------------------------------------------- */
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

body {
  font-family: Kiwi Maru, serif;
  font-weight: 400;
}

body.welcome {
  position: relative;
}
body.welcome .container {
  width: min(1180px, 94%);
  margin: auto;
}
body.welcome .header {
  padding: 0.25rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body.welcome .header_nav {
  margin: 0 0 0.25rem;
}
body.welcome .header_nav a:nth-child(2) {
  margin-left: 0.75rem;
}
body.welcome .top_mv {
  overflow: hidden;
}
body.welcome .top_mv .container {
  height: 100%;
  position: relative;
}
body.welcome .sectionTitle {
  margin-bottom: max(28px, 3%);
  display: flex;
  align-items: center;
}
body.welcome .sectionTitle_nikukyu {
  transform: rotate(-30deg);
}
body.welcome .sectionTitle_text {
  margin-left: 0.75rem;
}
body.welcome .sectionMargin {
  padding: min(96px, 6%) 0;
}
body.welcome .slider {
  width: 100%;
  height: auto;
  aspect-ratio: 1600/820;
  position: relative;
}
body.welcome .slider li {
  position: absolute;
  height: 100%;
  width: 100%;
}
body.welcome .slider li .container_3 {
  width: 100%;
}
body.welcome .slider li.slide .js-slider__text {
  width: fit-content;
  position: absolute;
}
body.welcome .slider li.slide .js-slider__text_1 {
  top: 26%;
  left: 0;
}
body.welcome .slider li.slide .js-slider__text_2 {
  top: 48%;
  right: 0;
}
body.welcome .slider li.slide .js-slider__text_3 {
  bottom: -12.5%;
  left: -1%;
}
body.welcome .slider li.slide .js-slider__text_3 .js-slider__text-line {
  padding-left: 8rem;
  width: 24rem;
}
body.welcome .slider li.slide .js-slider__text_3 .js-slider__text-line .text {
  transform: rotate(-45deg);
  overflow: visible;
  writing-mode: vertical-rl;
}
body.welcome .slider li.slide .js-slider__text-line {
  overflow: hidden;
}
body.welcome .slider li.slider__nav {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
body.welcome .slider li.slider__nav .slider__nav-inner {
  position: absolute;
  bottom: 7%;
  left: 0;
  display: flex;
  width: fit-content;
  height: fit-content;
}
body.welcome .slider li.slider__nav .slider__nav-inner .slider-bullet {
  margin-right: 0.5rem;
}
body.welcome .slider li.slider__nav .slider__nav-inner .slider-bullet:first-child {
  color: #f90;
}
body.welcome .slider li.slider__nav .slider__nav-inner .slider-bullet__text {
  height: auto;
  widows: fit-content;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 100px;
  padding: 0.125rem;
  font-size: 1.5rem;
}
body.welcome .underMv_section {
  padding: 12% 0;
  min-height: 600px;
  display: flex;
  margin-top: -1px;
  position: relative;
}
body.welcome .underMv_section .container {
  display: flex;
  justify-content: flex-end;
}
body.welcome .underMv_section .editorial {
  display: block;
  width: 100%;
  height: 60px;
  max-height: 60px;
  margin: 0;
  z-index: 5;
  top: -30px;
  position: absolute;
  left: 0px;
  float: left;
}
@media (prefers-color-scheme: light) {
  body.welcome .underMv_section .editorial .parallax > use {
    /* ライトモードの場合の設定を書く */
    filter: brightness(100);
  }
}
body.welcome .underMv_section .editorial .parallax1 > use {
  animation: move-forever1 10s linear infinite;
}
body.welcome .underMv_section .editorial .parallax1 > use:nth-child(1) {
  animation-delay: -2s;
}
body.welcome .underMv_section .editorial .parallax2 > use {
  animation: move-forever2 8s linear infinite;
}
body.welcome .underMv_section .editorial .parallax2 > use:nth-child(1) {
  animation-delay: -2s;
}
body.welcome .underMv_section .editorial .parallax3 > use {
  animation: move-forever3 6s linear infinite;
}
body.welcome .underMv_section .editorial .parallax3 > use:nth-child(1) {
  animation-delay: -2s;
}
body.welcome .underMv_section .editorial .parallax4 > use {
  animation: move-forever4 4s linear infinite;
}
body.welcome .underMv_section .editorial .parallax4 > use:nth-child(1) {
  animation-delay: -2s;
}
@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever4 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
body.welcome .underMv_bg_1 {
  position: absolute;
  top: 5%;
  left: 5%;
  height: auto;
  width: 40vw;
  max-width: 540px;
  aspect-ratio: 1;
  opacity: 0.2;
}
body.welcome .underMv_text {
  width: 50%;
}
body.welcome .characteristic_content_2column {
  margin-bottom: 8%;
  display: flex;
  justify-content: space-between;
}
body.welcome .characteristic_content_2column .left {
  width: 43%;
}
body.welcome .characteristic_content_2column .right {
  width: 48%;
}
body.welcome .characteristic_content_2column small {
  margin-top: 3%;
  display: block;
}
body.welcome .characteristic_content_2column:nth-of-type(even) {
  flex-direction: row-reverse;
}
body.welcome .characteristic_content_2column:last-child {
  margin-bottom: 0;
}
body.welcome .start_section .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
body.welcome .start_content {
  width: 640px;
  padding: 3% 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
body.welcome .start_content_topText {
  margin-bottom: 4%;
  text-align: center;
}
body.welcome .start_content_buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
body.welcome .start_content_buttonWrapper .submit_button:not(:first-child) {
  margin-left: 1.5rem;
}
body.welcome .footer {
  padding: 1.25rem;
  text-align: center;
}
body.welcome .submit_button {
  display: block;
  width: 13rem;
  padding: 1rem 0;
  border: 2px solid white;
  border-radius: 100px;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
}
body.welcome .submit_button:focus, body.welcome .submit_button:hover {
  color: #333;
  background-color: white;
}/*# sourceMappingURL=welcome.css.map */