@charset "utf-8";
@use "_common.scss";

.container {
    width: 94%;
    max-width: 780px;
    margin: auto;
}

.submit_button {
    display: block;
    min-width: 8rem;
    padding: 0.5rem 1rem;
    border: 2px solid white;
    border-radius: 100px;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;

    &:focus,
    &:hover {
        color: #333;
        background-color: white;
    }
}

.album {
    &_archive {
        &_section {
            margin: min(2rem, 2.5%) 0;

            nav[role="navigation"] {
                & > div.hidden {
                    margin-top: 4%;
                    justify-content: center;

                    & > div:first-child {
                        display: none;
                    }
                }
            }
        }
        &_3column {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            .item {
                width: calc((100% - 1.05%) / 3);
                margin: 0.175%;

                img {
                    width: 100%;
                    height: auto;
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                }
            }
        }
        &_pagination {
        }
    }
}

.title {
    &_section {
        margin: min(2rem, 2.5%) 0;
    }
}

.catimage_upload {
    &_section {
        .cropper {
            &_modal {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                background: rgba(0, 0, 0, 0.8);
                overflow: auto;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;

                &.active {
                    opacity: 1;
                    visibility: visible;
                }
                &_inner {
                    width: 94%;
                    max-width: 640px;
                    height: auto;
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
            &_preview {
                max-width: 640px;
                margin: auto;
            }
        }
        .cropper-container {
            aspect-ratio: 4 / 3;
            margin-bottom: 1.5rem;

            img {
                display: block;
                width: 94%;
                height: auto;
            }
        }
        .inputHidden {
            display: none;
        }
        .imageFileInput {
            width: 0;
            height: 0;
            /* 透明度0 */
            filter: alpha(opacity=0);
            -moz-opacity: 0;
            opacity: 0;
            /* ブラウザのデフォルトのスタイルを削除 */
            -webkit-appearance: none;
            appearance: none;
            /* レイアウトから無視 */
            position: absolute;
        }
        .submit_button:has(.imageFileInput:focus) {
            color: #333;
            background-color: white;
        }
        form {
            padding: 6% 4% 6%;
            border: 2px solid white;
            border-radius: 0.75rem;
        }
        .form_submit_button {
            margin: auto;
        }
    }
    &_list {
        margin-bottom: 5%;

        li {
            margin-bottom: 1.5rem;
            display: flex;
            justify-content: space-between;

            .left {
                .title {
                    margin-top: 0.5rem;
                    display: block;
                }
            }
            .right {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 60%;
            }
            input,
            textarea {
                width: 100%;
                border-radius: 6px;
            }
            .fileName {
                margin-left: 3%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .formMap {
                width: 100%;
                height: auto;
                aspect-ratio: 4 / 3;
                margin: auto;
                border-radius: 6px;
            }

            &:nth-child(2) {
                .right {
                    flex-direction: column;

                    .top {
                        width: 100%;
                        display: flex;
                    }
                    .bottom {
                        .compressed-image {
                            img {
                                margin-top: 1.5rem;
                                width: 100%;
                                height: auto;
                                object-fit: contain;
                                max-height: clamp(180px, 26vw, 340px);
                            }
                        }
                    }
                }
            }
            &:nth-child(3) {
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.profile {
    &_section {
        .usericon_input {
            flex-direction: column;
        }
    }
}

.catimage {
    &_archive {
        &_section {
            height: calc(100vh - 42vh - 65px);
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow-y: scroll;

            textarea {
                border-radius: 6px;
            }
            .niced {
                color: #ee0000;
            }
            nav[role="navigation"] {
                margin-bottom: 3%;

                & > div.hidden {
                    margin-top: 4%;
                    justify-content: center;

                    & > div:first-child {
                        display: none;
                    }
                }
            }
        }
        &_content {
            margin: 5% 0;
        }
        &_item {
            padding: 3%;
            margin-bottom: 3%;
            border-radius: 0.75rem;

            &:last-child {
                margin-bottom: 0;
            }
            &_name {
                margin-bottom: 3%;
                display: flex;
                justify-content: space-between;

                .left {
                    display: flex;
                    align-items: center;

                    img {
                        height: 50px;
                        width: 50px;
                        object-fit: cover;
                        border-radius: 100px;
                        margin-right: 0.5rem;
                    }
                }
            }
            &_title {
                margin-bottom: 3%;
            }
            &_comment {
                margin-bottom: 3%;
            }
            &_image {
                margin-bottom: 3%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                    max-height: 700px;
                }
            }
            &_likeComment {
                margin-bottom: 3%;
                display: flex;
                justify-content: space-between;

                a {
                    display: flex;
                    align-items: center;

                    .niceText {
                        margin-right: 0.125rem;
                    }
                }
            }
            &_comment {
                .comment {
                    &_item {
                        margin-bottom: 3%;

                        &:last-child {
                            margin-bottom: 0;
                        }
                        &_name {
                            margin-bottom: 1%;
                            display: flex;
                            align-items: center;

                            img {
                                height: 35px;
                                width: 35px;
                                object-fit: cover;
                                border-radius: 100px;
                                margin-right: 0.5rem;
                            }
                        }
                        &_comment {}
                        &_delete {
                            margin-top: 1%;
                        }
                    }
                }
            }
            &_commentForm {
                textarea {
                    width: 100%;
                }
                .submit_button {
                    margin: auto;
                }
            }
        }
    }
    &_map {
        &_section {
            height: 42vh;

            #map {
                width: 100%;
                height: 100%;
            }
        }
    }
}
