@charset "utf-8";
@use '_common.scss';

body.welcome {

    .header {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &_nav {
            margin-top: 1rem;

            a:nth-child(2) {
                margin-left: 0.75rem;
            }
        }
    }
}
